<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="navbar-brand" href="#">Project name</a>
    <div class="nav-collapse collapse">
      <ul class="nav navbar-nav">
		<li class="<%= 'active' if current_page?(root_path) %>"><a href="/">Home</a></li>
        <li class="<%= 'active' if current_page?('/about') %>"><a href="/about">About</a></li>
        <li class="<%= 'active' if current_page?('/contact') %>"><a href="/contact">Contact</a></li>
		<li class="<%= 'active' if current_page?('/support') %>"><a href="/support">Support</a></li>
		<li class="<%= 'active' if current_page?('/blog') %>"><a href="/blog">Blog</a></li>
		<li class="<%= 'active' if current_page?('/codex') || current_page?('/codex/article') %>"><a href="/codex">Codex</a></li>
		<li class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		      <i class="icon-cogs icon-large" ></i>&nbsp;<i class="icon-caret-down"></i>
		    </a>
		    <ul class="dropdown-menu">
		    	<li><a href="#"><i class="icon icon-user"></i>&nbsp;User Name Here</a></li>
				<li><a href="#"><i class="icon icon-dashboard"></i>&nbsp;Dashboard</a></li>
				<li><a href="#"><i class="icon icon-cog"></i>&nbsp;Settings</a></li>
				<li><a href="#"><i class="icon icon-off"></i>&nbsp;Sign out</a></li>
		    </ul>
		 </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>